@model SMSAppv2.Models.Departments

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Departments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Short_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Short_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.editedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.editedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.editedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.editedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deletedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deletedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deletedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
